@import '../utils/vars';

.phones-list{
	&__item{
		&:first-child{
			margin-bottom: 8px;
		}
	}
	&__link{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		transition: all ease .3s;
		&:hover{
			cursor: pointer;
			color: $c-primary;
		}
	}
	&__icon{
		margin-right: 5px;
	}
}

