.benefits-wrapper
	.benefits-card
		.benefits-card__img-wrap
			.benefits-card__img
				img(src='/assets/img/benefits-1.jpg')
		.benefits-card__descr
			p.benefits-card__text-title Андрей Липский
			p.benefits-card__text-age 32 года

