.benefits-wrapper
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-1.jpg')
        .benefits-card__descr Бесплатный осмотр автомобиля при ремонте
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-2.jpg')
        .benefits-card__descr Дорожим своей репутацией
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-3.jpg')
        .benefits-card__descr Честный ремонт
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-4.png')
        .benefits-card__descr Рассрочка платежа
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-5.jpeg')
        .benefits-card__descr Гарантия на работы и запчасти
    .benefits-card
        .benefits-card__img-wrap
            .benefits-card__img
                img(src='/assets/img/benefits-6.jpg')
        .benefits-card__descr Подбор запчастей
