.nav-right
	nav.nav-menu
		ul.nav-menu__list
			li.nav-menu__list-item
				a.a(href="#cake") Заказать
			li 
				a.a.scrollto(href="#program") Программа
			li 
				a.a.scrollto(href="#review") Отзывы
			li 
				a.a.scrollto(href="#gallery") Галерея
			li 
				a.a.scrollto(href="#form") Заявка
		.hamburger
			span
			span
			span