footer.footer
    .container
        .footer-wrapper
            .footer-left
                p "ВиаМоторс"
                p г.п. Ждановичи
                p ул. Заречная, д. 50
            .footer-mid
                p ViaMotors
                a(href='').footer-mid__politic Политика конфиденциальности
            .footer-right
                include ./phones-list

