footer.footer
	.container
		.footer-wrapper
			.footer-left
				img.logo(src="../../assets/img/logo-g.svg", alt="")
			.footer-mid

			.footer-right#contact
				p.footer-right__phone
					a(href="tel:+375255301618") +375 (25) 5301618
				p.footer-right__phone
					a(href="tel:+375255301618") +375 (25) 5301618
