.gallery
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
	a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
		img.rounded(src="/assets/img/gallery/sm.jpg", alt="")