.gallery
	.wrapper-img 
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")
		.box-img 
			a(data-fancybox="gallery" href="/assets/img/gallery/big.jpg")
				img.rounded(src="/assets/img/gallery/sm.jpg", alt="")