header.header
	.container
		.header-top
			.header-top__left
				.header-logo
					a(href='https://patriots.by/' target="_blank").header-logo__link
						img(src='../../assets/img/logo-g.svg')
			.header-top__title
				p ВЫЗОВ
			.header-top__right
				
				include box-social
				.box-phone 
					p.box-phone__phone
						a(href="tel:+375255301618") +375 (25) 5301618
					p.box-phone__phone
						a(href="tel:+375255301618") +375 (25) 5301618
		.header-bottom
			.header-nav 
				nav.scrollto
					ul.header-nav__list
						li
							a.header-nav__li.scrollto(href="#program") Программа
						li
							a.header-nav__li.scrollto(href="#review") Отзывы
						li
							a.header-nav__li.scrollto(href="#gallery") Галерея
						li
							a.header-nav__li.scrollto(href="#form") Заявка на участие
		.nav-right
			nav.nav-menu
				ul.nav-menu__list
					li.nav-menu__list-item
						a.a.scrollto(href="#program") Программа
					li.nav-menu__list-item
						a.a.scrollto(href="#review") Отзывы
					li.nav-menu__list-item
						a.a.scrollto(href="#gallery") Галерея
					li.nav-menu__list-item
						a.a.scrollto(href="#form") Заявка на участие
					li.nav-menu__list-item
						a.a.scrollto(href="#contact") Контакты
					li.nav-menu__list-item
						.box-burger
							ul.box-burger__list 
								li.box-burger__li
									a(href="https://vk.com/patriotsbelarus" target="_blank")
										<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M33 14.5C33 22.5081 26.5081 29 18.5 29C10.4919 29 4 22.5081 4 14.5C4 6.49187 10.4919 0 18.5 0C26.5081 0 33 6.49187 33 14.5ZM19.3458 12.9726C19.3461 12.7993 19.3464 12.626 19.3464 12.4526H19.3444C19.3444 12.2703 19.345 12.0879 19.3457 11.9056C19.3473 11.4746 19.3489 11.0437 19.3416 10.6127C19.3334 10.1515 19.1901 10.0074 18.7621 10.0052C18.3206 10.0033 17.879 10.0036 17.4375 10.0039C17.0361 10.0042 16.6348 10.0044 16.2334 10.0031C16.0187 10.0023 15.8205 10.0306 15.7046 10.2521C15.5812 10.4889 15.7039 10.6707 15.8404 10.8372C16.219 11.2984 16.3548 11.8379 16.3466 12.4381C16.3414 12.8084 16.3426 13.1788 16.3437 13.5491C16.3451 13.9724 16.3464 14.3956 16.3383 14.8189C16.3371 14.879 16.342 14.944 16.347 15.0103C16.3647 15.2441 16.3835 15.4933 16.1387 15.5965C15.8491 15.7192 15.653 15.4836 15.4777 15.2728C15.4533 15.2435 15.4293 15.2147 15.4056 15.1874C14.8226 14.5184 14.4049 13.7306 14.0154 12.9269C13.6567 12.1883 13.3597 11.4222 13.1005 10.6388C12.9941 10.3173 12.8302 10.0277 12.4688 10.0175C11.7973 9.99944 11.1245 9.9951 10.4538 10.0212C10.1019 10.0349 9.96614 10.2587 10.0059 10.6417C10.0382 10.953 10.1184 11.2543 10.211 11.5511C10.8351 13.5481 11.8358 15.3322 13.0236 17.0019C13.7945 18.0859 14.7595 18.9359 15.9419 19.4913C16.8232 19.9047 17.7429 20.0807 18.7052 19.9576C19.1928 19.8953 19.3403 19.7223 19.3451 19.2125C19.3475 18.954 19.347 18.6955 19.3464 18.437C19.3459 18.1785 19.3454 17.92 19.3478 17.6616C19.3533 17.0323 19.6256 16.8448 20.1804 17.0946C20.5844 17.2764 20.9109 17.5805 21.2353 17.8838C21.6286 18.2521 21.9828 18.6597 22.3372 19.0675C22.4678 19.2178 22.5984 19.3682 22.7311 19.5166C22.9444 19.7556 23.1776 19.9815 23.5102 19.9873C24.159 19.9989 24.8085 20.0104 25.4566 19.9836C25.9223 19.9641 26.0965 19.6585 25.947 19.1879C25.8407 18.8541 25.6487 18.5674 25.4498 18.2886C24.8524 17.4501 24.17 16.6935 23.4656 15.9564C23.013 15.4821 23.0116 15.3235 23.3703 14.7761C23.98 13.8472 24.5788 12.9117 25.1034 11.9255C25.3044 11.5482 25.5033 11.1688 25.6164 10.7503C25.7536 10.242 25.6013 10.019 25.1007 10.0081C24.8566 10.0028 24.6123 10.0046 24.3681 10.0064C24.077 10.0086 23.786 10.0107 23.4951 10.0009C23.0109 9.98424 22.716 10.2007 22.5246 10.675C22.1049 11.7162 21.5844 12.7024 20.952 13.6198C20.7106 13.9695 20.4555 14.3091 20.1379 14.5886C20.1237 14.601 20.1095 14.6138 20.0951 14.6266C19.9412 14.7641 19.7746 14.9129 19.5632 14.8189C19.3467 14.7232 19.3473 14.4956 19.3479 14.2858C19.3479 14.2636 19.348 14.2416 19.3478 14.22C19.3444 13.804 19.3451 13.3884 19.3458 12.9726Z" fill="white"/>
										</svg>
								li.box-burger__li 
									a(href="https://www.instagram.com/patriotsby/" target="_blank")
										<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M17.8108 14.495C17.8083 12.664 16.3333 11.191 14.5011 11.189C12.6718 11.187 11.1938 12.661 11.1873 14.4925C11.1808 16.3296 12.6743 17.8199 14.511 17.811C16.3463 17.8015 17.8138 16.3266 17.8108 14.495Z" fill="white"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.0504 14.5064H8.05833C8.05833 14.1046 8.05495 13.7028 8.05157 13.301C8.0439 12.3896 8.03623 11.4784 8.06801 10.5691C8.11732 9.16077 9.24835 8.07113 10.6585 8.05925C13.2177 8.03723 15.7778 8.03635 18.3371 8.05925C19.8124 8.07201 20.9355 9.23517 20.946 10.7422C20.9636 13.2433 20.9632 15.7444 20.9465 18.245C20.9359 19.8022 19.8005 20.9354 18.2402 20.9456C15.732 20.9619 13.2239 20.9614 10.7157 20.9451C9.38791 20.9363 8.33305 20.0338 8.09399 18.75C8.05789 18.5567 8.0526 18.356 8.05216 18.1587C8.04952 17.246 8.04985 16.333 8.05018 15.4201L8.0504 14.5064ZM19.0013 14.5065C18.9978 17.007 16.9851 19.0079 14.4816 19C11.9826 18.992 9.99434 16.9816 10.0013 14.4686C10.0078 11.987 12.0259 9.99106 14.5195 10C17.01 10.0095 19.0048 12.0149 19.0013 14.5065ZM18.0016 9.99952C18.0001 10.5643 18.4446 11.0038 19.0131 11C19.5677 10.9961 19.9996 10.5595 20.0016 10.0005C20.003 9.43522 19.5595 8.99616 18.9905 9.00003C18.4379 9.00341 18.003 9.44295 18.0016 9.99952Z" fill="white"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M29 14.5C29 22.5081 22.5081 29 14.5 29C6.49187 29 0 22.5081 0 14.5C0 6.49187 6.49187 0 14.5 0C22.5081 0 29 6.49187 29 14.5ZM21.9985 15.7373C21.9979 15.332 21.9972 14.9267 21.9974 14.5213L21.9977 13.7906C21.9983 12.8161 21.9989 11.8419 21.9961 10.8676L21.9959 10.8235C21.9952 10.6107 21.9946 10.3958 21.9604 10.1874C21.646 8.28113 20.1342 7.00219 18.2015 7.00087C15.7364 6.99955 13.2714 6.99955 10.8064 7.00219C10.5942 7.00263 10.3789 7.00659 10.1707 7.04137C8.27669 7.3588 7.00258 8.86756 7.00082 10.7915C6.99906 13.271 6.9995 15.751 7.0017 18.2305C7.0017 18.4277 7.00743 18.628 7.04001 18.8222C7.35963 20.7219 8.86092 21.9956 10.7853 21.9982C13.2578 22.0013 15.7298 22 18.2023 21.9973C18.4145 21.9973 18.6298 21.9912 18.8381 21.956C20.7145 21.6376 21.9824 20.1478 21.9956 18.2406C22.0012 17.4062 21.9999 16.5718 21.9985 15.7373Z" fill="white"/>
										</svg>
								li.box-burger__li 
									a(href="https://t.me/patbel_official" target="_blank")
										<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.00812653 14.462C-0.192039 6.93416 6.27855 -0.28452 15.028 0.00863473C22.1045 0.246155 29.0053 5.91881 29 14.5219C28.9957 22.5516 22.691 29.0192 14.4821 29C5.31305 28.9775 -0.242348 21.3159 0.00812653 14.462ZM21.7352 9.5672C21.7673 8.69095 21.0726 8.20842 20.2891 8.50371C15.3716 10.3568 10.4585 12.2206 5.54318 14.079C5.17924 14.217 4.88917 14.4224 4.8988 14.8461C4.90843 15.2709 5.21136 15.4581 5.57958 15.5822C6.43269 15.869 7.29115 16.1429 8.13035 16.467C8.84966 16.7452 9.47798 16.6586 10.1234 16.2424C12.1197 14.9531 14.1342 13.6928 16.1423 12.4217C16.4463 12.2291 16.7471 12.028 17.0629 11.8568C17.1485 11.8108 17.2855 11.8579 17.4 11.8632C17.384 11.9873 17.4054 12.1371 17.3444 12.2313C17.248 12.3789 17.096 12.4891 16.9665 12.6143C15.3973 14.1261 13.8249 15.6347 12.26 17.1507C11.7333 17.66 11.7483 18.0644 12.3285 18.487C13.9876 19.696 15.6489 20.9007 17.3262 22.0851C18.0658 22.6073 18.8965 22.2692 19.1341 21.3897C19.1673 21.2677 19.193 21.1447 19.2197 21.0216C19.801 18.3865 20.3843 15.7502 20.9634 13.1139C21.2289 11.9028 21.49 10.6895 21.7352 9.5672Z" fill="white"/>
										</svg>

			.hamburger
				span
				span
				span