header.header
    .container
        .header-top
            .header-top__left
                .header-logo
                    a(href='#').header-logo__link
                        img(src='./assets/img/logo.jpg')
                .header-descr
                    p 
                    p 
                    p 
                .header-mail__icon.icon

            .header-top__schedule
                .contacts-body__item-title
                    p Вызов
            .header-top__right
                include box-social 
