.phones-list
    .phones-list__item

        a(href='tel:+375297718000').phones-list__link
            span +375 (29) 77-18-000
            span.phones-list__icon.icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 1.2002C10.2529 1.2002 8.15689 2.74513 6.45783 5.33947C4.64762 8.0504 3.59961 11.3735 3.59961 14.2739C3.59961 18.5298 6.18789 22.8002 11.9996 22.8002C17.8113 22.8002 20.3996 18.5298 20.3996 14.2739C20.3996 11.3735 19.3516 8.03582 17.5414 5.35404C15.8423 2.74513 13.7463 1.2002 11.9996 1.2002Z" fill="#E41522"/></svg>
    .phones-list__item

        a(href='tel:+375447718000').phones-list__link
            span +375 (44) 77-18-000
            span.phones-list__icon.icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1559_70175)"><path d="M13.5371 20L12.502 16.6016H7.29688L6.26172 20H3L8.03906 5.66406H11.7402L16.7988 20H13.5371ZM11.7793 14.0625C10.8223 10.9831 10.2819 9.24154 10.1582 8.83789C10.041 8.43424 9.95638 8.11523 9.9043 7.88086C9.68945 8.71419 9.07422 10.7747 8.05859 14.0625H11.7793Z" fill="#E41522"/><path d="M19.7832 12H17.6709V6.2168L17.6914 5.2666L17.7256 4.22754C17.3747 4.57845 17.1309 4.80859 16.9941 4.91797L15.8457 5.84082L14.8271 4.56934L18.0469 2.00586H19.7832V12Z" fill="#E41522"/></g><defs><clipPath id="clip0_1559_70175"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>

