.product-page__area.product-page__third
	.product-page__tabs
		.product-page__tab(data-tab-index='1').active Огневая подготовка
		.product-page__tab(data-tab-index='2') Техническая подготовка
		.product-page__tab(data-tab-index='3') Тактическая подготовка
		.product-page__tab(data-tab-index='4') Раведывательная подготовка
		.product-page__tab(data-tab-index='5') Военно-инженерная подготовка
		.product-page__tab(data-tab-index='6') Физическая подготовка
		.product-page__tab(data-tab-index='7') Психологическая подготовка
		.product-page__tab(data-tab-index='8') Как стать участником


	.product-page__tab-content(data-tab-content='1').active

			p Самсунг Электроникс Компани, ЛТД. Мэтан-донг 129, Самсунг-ро, Енгтонг-гу, Сувон, Кенги-до, 443-742, Республика Корея. Товар подлежит обязательной сертификации или декларированию соответствия.

	.product-page__tab-content(data-tab-content='2')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='3')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='4')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='5')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='6')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='7')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='8')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
	.product-page__tab-content(data-tab-content='9')

			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
