.product-page__area.product-page__third
	.product-page__tabs
		.product-page__tab(data-tab-index='1').active Описание
		.product-page__tab(data-tab-index='2') Характеристики

	.product-page__tab-content(data-tab-content='1').active
		.product-page__media-toggler.js-toggler
			span Описание

		.product-page__media-content
			.product-page__description
				p Самсунг Электроникс Компани, ЛТД. Мэтан-донг 129, Самсунг-ро, Енгтонг-гу, Сувон, Кенги-до, 443-742, Республика Корея. Товар подлежит обязательной сертификации или декларированию соответствия.
			.product-page__row
				.product-page__col
					.product-description-card
						.product-description-card__img

						.product-description-card__title Производитель
						.product-description-card__content Роберт Бош Хаусгерете ГмбХ, Карл-Вери-Штрассе 34, 81739 Мюнхен, Германи
				.product-page__col
					.product-description-card
						.product-description-card__img
						.product-description-card__title Изготовитель
						.product-description-card__content Роберт Бош Хаусгерете ГмбХ, Карл-Вери-Штрассе 34, 81739 Мюнхен, Германи
				.product-page__col
					.product-description-card
						.product-description-card__img
						.product-description-card__title Поставщик
						.product-description-card__content ООО «Олимп СМ», 220113, г. Минск, ул. Мележа, 1, пом. 901, комн. 02
	.product-page__tab-content(data-tab-content='2')
		.product-page__media-toggler.js-toggler
			span Характеристики

		.product-page__media-content
			.product-descr__table
				.product-descr__table-title Общие характеристики
				.product-features
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип SIM-карты
						span.product-features__sep
						.product-features__val naon Sim
					.product-features__item 
						.product-features__prop
							span Объём оперативной памяти
						span.product-features__sep
						.product-features__val 4096 Мб
					.product-features__item 
						.product-features__prop
							span Операционная система 
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop 
							span Тип
						span.product-features__sep
						.product-features__val ООО «Олимп СМ», 220113, г. Минск, ул. Мележа, 1, пом. 901, комн. 02
			.product-descr__table
				.product-descr__table-title Общие характеристики
				.product-features
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип SIM-карты
						span.product-features__sep
						.product-features__val naon Sim
					.product-features__item 
						.product-features__prop
							span Объём оперативной памяти
						span.product-features__sep
						.product-features__val 4096 Мб
					.product-features__item 
						.product-features__prop
							span Операционная система 
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop 
							span Тип
						span.product-features__sep
						.product-features__val ООО «Олимп СМ», 220113, г. Минск, ул. Мележа, 1, пом. 901, комн. 02
			.product-descr__table
				.product-descr__table-title Общие характеристики
				.product-features
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип SIM-карты
						span.product-features__sep
						.product-features__val naon Sim
					.product-features__item 
						.product-features__prop
							span Объём оперативной памяти
						span.product-features__sep
						.product-features__val 4096 Мб
					.product-features__item 
						.product-features__prop
							span Операционная система 
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop
							span Тип
						span.product-features__sep
						.product-features__val Смартфон
					.product-features__item 
						.product-features__prop 
							span Тип
						span.product-features__sep
						.product-features__val ООО «Олимп СМ», 220113, г. Минск, ул. Мележа, 1, пом. 901, комн. 02

						.product-page__media-toggler.js-toggler
							span Документы
							+icon('i-arrow-small')(style="width:12px; height: 12px")
						.product-page__media-content
							.downloads
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--pdf
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type PDF
									span.downloads__content
										span.downloads__title Руководство по эксплуатации 
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--xls
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type XLS
									span.downloads__content
										span.downloads__title Прайс-лист на печать
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--doc
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type DOC
									span.downloads__content
										span.downloads__title Типовой договор на оказание услуг
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--jpg
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type JPG
									span.downloads__content
										span.downloads__title Фирменный буклет Seon
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--rar
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type RAR
									span.downloads__content
										span.downloads__title Архив полезных файлов
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--avi
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type AVI
									span.downloads__content
										span.downloads__title Видео производства
										span.downloads__size 1,2 мб
								a(href='#').downloads__item
									span.downloads__icon.downloads__icon--tif
										+icon('i-document')(style="width: 24px; height: 28px")
										span.downloads__type TIF
									span.downloads__content
										span.downloads__title Наш подарочный календарик
										span.downloads__size 1,2 мб
