.review-wrapper
	.review-card
		.review-card__img-wrap
			.review-card__img
				img(src='/assets/img/review/img-review.jpg')
		.review-card__descr
			p.review-card__text-title Андрей Липский
			p.review-card__text-age 32 года
	.review-card
		.review-card__img-wrap
			.review-card__img
				img(src='/assets/img/review/img-review.jpg')
		.review-card__descr
			p.review-card__text-title Андрей Липский
			p.review-card__text-age 32 года
	.review-card
		.review-card__img-wrap
			.review-card__img
				img(src='/assets/img/review/img-review.jpg')
		.review-card__descr
			p.review-card__text-title Андрей Липский
			p.review-card__text-age 32 года
	.review-card
		.review-card__img-wrap
			.review-card__img
				img(src='/assets/img/review/img-review.jpg')
		.review-card__descr
			p.review-card__text-title Андрей Липский
			p.review-card__text-age 32 года
	.review-card
		.review-card__img-wrap
			.review-card__img
				img(src='/assets/img/review/img-review.jpg')
		.review-card__descr
			p.review-card__text-title Андрей Липский
			p.review-card__text-age 32 года
	