mixin brand-card(args={})
	.brand-card-wrap
		.brand-card
				img(class="img" src="../../assets/img/review/img-review.jp", alt="")
				.brand-card__content
					.brand-card__back
						.brand-card__title Андрей Липский <br>32 года</br>
						.brand-card__descr Американская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, смартфонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных многозадачных.

.brands-list
	.container
		.brands-list__inner
			+brand-card({
				
			})

