mixin brand-card(args={})
	.brand-card-wrap
		.brand-card
			.brand-card__front
				img(src=args.img, alt="")
			.brand-card__content
				.brand-card__back
					.brand-card__title!=args.title
					.brand-card__descr!=args.descr
.brands-list
	.container
		.brands-list__inner
			+brand-card({
				img: "./assets/img/img-review.jpg",
				title: 'Андрей Липский <br>32 года',
				descr: 'мериканская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, смартфонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных многозадачных.'
			})
			+brand-card({
				img: "./assets/img/img-review.jpg",
				title: 'Егор <br>2 года',
				descr: 'мериканская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, смартфонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных многозадачных.'
			})
			+brand-card({
				img: "./assets/img/img-review.jpg",
				title: 'Сергей  <br>32 года',
				descr: 'мериканская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, еменных многозадачных.'
			})
			+brand-card({
				img: "./assets/img/img-review.jpg",
				title: ' Липский <br>3 года',
				descr: 'мериканская корпорация, производитель персональных и планшетных компьютеров, аудиопле в области персональных компьютеров и современных многозадачных.'
			})

