+table({
	list: [{
		subtitle: 'Ориентировочные цены на ремонт двигателя',
		name: 'Компьютерная диагностика двигателя (чтение кодов неисправностей)',
		value: 10
	},
		{
			name: 'Замена двигателя (4 цилиндра) ',
			value: 400
		},{
			name: 'Замена двигателя (6-8 цилиндров) ',
			value: 600
		},{
			subtitle: 'ЦЕНЫ НА РЕМОНТ УЗЛОВ И ЗАМЕНУ МАТЕРИАЛОВ ДВИГАТЕЛЯ ',
			name: 'Снятие-установка турбины (бензиновый мотор)',
			value: 120
		},{
			name: 'Ремонт турбины',
			value: 200
		},{
			name: 'Снятие-установка катализатора (комплекс) ',
			value: 20
		},{
			name: 'Замена маслосъемных колпачков ',
			value: 160
		},{
			name: 'Замена прокладки поддона ',
			value: 50
		},{
			name: 'Замена клапанной крышки',
			value: 30
		},
		{
			name: 'Замена прокладки клапанной крышки',
			value: 30
		},
		{
			name: 'Замена ГБЦ ',
			value: 300
		},
		{
			name: 'Замена прокладки ГБЦ ',
			value: 300
		},
		{
			name: 'Замена ремня и роликов ГРМ',
			value: 100
		},
		{
			name: 'Замена цепи ГРМ ',
			value: 180
		},
		{
			name: 'Замена ремня генератора',
			value: 10
		},
		{
			name: 'Замена ролика приводного ремня (натяжителя ремня генератора) ',
			value: 15
		},
		{
			name: 'Замена шкива коленчатого вала',
			value: 30
		},
		{
			name: 'Замена водяного насоса (помпы) при снятом ГРМ',
			value: 40
		},
		{
			name: 'Замена полуколец (вкладышей) коленвала',
			value: 120
		},
		{
			name: 'Замена сальника двигателя (разные)',
			value: 40
		},
		{
			name: 'Замена сальника коленчатого вала (без учета снятия/установки комплекта ГРМ)',
			value: 20
		},
		{
			name: 'Замена  свечей зажигания',
			value: 15
		},
		{
			name: 'Замена свечей зажигания (комплект V6)',
			value: 40
		},
		{
			name: 'Замена свечей накала (R4)',
			value: 60
		},
		{
			name: 'Замена масла двигателя, масляного фильтра',
			value: 20
		},
		{
			name: 'Замена  масла ГУР (ЭГУР) ',
			value: 20
		},
		{
			name: 'Замена масла механической КПП',
			value: 15
		},
		{
			name: 'Замена масла АКПП',
			value: 80
		},
		{
			name: 'Замена масла редуктора моста ',
			value: 15
		},
		{
			name: 'Замена масла раздаточной коробки',
			value: 15
		},
		{
			name: 'Замена охлаждающей жидкости ',
			value: 15
		},
		{
			name: 'Замена тормозной жидкости',
			value: 35
		},
		{
			name: 'Замена топливного фильтра (дизель) ',
			value: 5
		},
		{
			name: 'Замена воздушного фильтра двигателя ',
			value: 3
		},
		{
			name: 'Замена фильтра вентиляции салона (салонного) ',
			value: 2-40
		},
		{
			name: 'Замена сцепления МКПП',
			value: 160
		},
		{
			name: 'Снятие и установка АКПП',
			value: 270
		},
		{
			name: 'Снятие и установка генератора',
			value: 30
		},
		{
			name: 'Снятие и установка стартера',
			value: 40
		},
		{
			name: 'Замена подушек ДВС и КПП',
			value: 20
		},
		{
			name: 'Замена радиатора печки',
			value: 100
		},
		{	subtitle: 'ЦЕНЫ НА РЕМОНТ УЗЛОВ И ЗАМЕНУ МАТЕРИАЛОВ ПОДВЕСКИ',
			name: 'Диагностика подвески (осмотр автомобиля на подъемнике)',
			value: 10
		},
		{
			name: 'Диагностика подвески (осмотр автомобиля на подъемнике) при дальнейшем ремонте на нашем СТО',
			value: 'Бесплатно'
		},
		{
			name: 'Комплексный осмотр автомобиля',
			value: 10
		},
		{	subtitle: 'РАБОТЫ ПО РУЛЕВОМУ УПРАВЛЕНИЮ ',
			name: 'Наконечник рулевой (замена)',
			value: 10
		},
		{
			name: 'Редуктор рулевой (снятие/установка)',
			value: 80
		},
		{
			name: 'Рулевая рейка (снятие/установка) ',
			value: 90
		},
		{
			name: 'Тяга рулевая (замена)',
			value: 30
		},
		{	subtitle: 'РАБОТЫ ПО ПЕРЕДНЕЙ ПОДВЕСКЕ АВТОМОБИЛЯ',
			name: 'Замена колодок',
			value: 20
		},
		{
			name: 'Верхний рычаг передней подвески (снятие/установка)',
			value: 30
		},
		{
			name: 'Нижний рычаг передней подвески (снятие/установка)',
			value: 20
		},
		{
			name: 'Пружины передней подвески замена 2шт',
			value: 90
		},
		{
			name: 'Опорный подшипник стойки амортизатора передней подвески (замена)',
			value: 40
		},
		{
			name: 'Амортизатор (стойка амортизаторная — пара) передней подвески в сборе (замена)',
			value: 45
		},
		{
			name: 'Подшипник ступицы передней подвески (замена) ',
			value: 50
		},
		{
			name: 'Средние втулки стабилизатора передней подвески (замена) ',
			value: 20
		},
		{
			name: 'Стойка стабилизатора передней подвески (замена)',
			value: 15
		},
		{
			name: 'Шаровая опора верхнего рычага передней подвески (замена)',
			value: 40
		},
		{
			name: 'Сайлентблок рычага (замена) ',
			value: 30
		},
		{
			name: 'ШРУС внутренний приводного вала (замена)',
			value: 50
		},
		{
			name: 'ШРУС наружный приводного вала (замена)',
			value: 40
		},
		{
			name: 'Пыльник ШРУСа наружного (замена) ',
			value: 40
		},
		{
			name: 'Пыльник ШРУСа внутренний (замена) ',
			value: 50
		},
		{
			name: 'Сальник полуоси (замена)',
			value: 40
		},
		{
			name: 'Шаровая опора нижнего рычага передней подвески (замена)',
			value: 20
		},
		{
			name: 'Шаровая опора передней подвески (Sprinter/Crafter) (замена)',
			value: 90
		},
		{
			name: 'Балка переднего моста (снятие/установка)',
			value: 90
		},
		{	subtitle: 'РАБОТЫ ПО ЗАДНЕЙ ПОДВЕСКЕ АВТОМОБИЛЯ',
			name: 'Амортизатор задней подвески (замена — комплекс работ)',
			value: 25
		},
		{
			name: 'Балка заднего моста в сборе (снятие/установка)',
			value: 80
		},
		{
			name: 'Подшипник ступицы задней подвески (замена)',
			value: 35
		},
		{
			name: 'Стойка амортизаторная задней подвески (замена)',
			value: 25
		},
		{
			name: 'Стойка стабилизатора задней подвески (замена)',
			value: 15
		},
		{	subtitle: 'ПРОЧИЕ РАБОТЫ ПО ПОДВЕСКЕ',
			name: 'Карданный вал, снять-установить ',
			value: 30
		},
		{
			name: 'Эластичная муфта карданного вала, замена',
			value: 30
		},
		{
			name: 'Механическая КПП, снять-установить',
			value: 160
		},
		{
			name: 'Сальник приводного вала заднего моста (замена) ',
			value: 90
		},
		{
			name: 'Сальник приводного вала КПП (замена)',
			value: 40
		},
		{	subtitle: 'ЦЕНЫ НА РЕМОНТ И ЗАПРАВКУ КОНДИЦИОНЕРОВ',
			name: 'Ремонт радиатора кондиционера',
			value: 45
		},
		{
			name: 'Ремонт трубок кондиционера',
			value: 20
		},
		{
			name: 'Проверка радиатора кондиционера на герметичность',
			value: 20
		},
		{
			name: 'Опресовка системы кондиционирования(поиск утечки)',
			value: 20
		},
		{
			name: 'Заправка кондиционеров (включает диагностику системы)',
			value: 40
		},
		{
			name: 'Масло синтетическое (10 мл)',
			value: 4
		},
		{
			name: 'Заправка автокондиционера (100 г)',
			value: 5
		},
		{
			name: 'Добавка ультрафиолетовая для определения утечек (100 г)',
			value: 6
		},
		{
			name: 'Диагностика',
			value: 10
		},
		{
			name: 'Замена подшипника компрессора',
			value: 40
		},
		{
			name: 'Замена радиатора печки',
			value: 130
		},
		{
			name: 'Замена термостата',
			value: 30
		},
		]
})

+table({
	list: [{
		name: 'Проточка предварительно снятых тормозных дисков ( цена за 1 шт) ',
		value: 25
	},
		{name: 'Проточка дисков непосредственно на автомобиле ( цена за 1 шт)',
			value: 40},
		{name: 'Проточка тормозных дисков с заменой тормозных колодок',
			value: 100},
		]
}, 'ПРОТОЧКА ТОРмозных дисков')

