+to-list({
	title: "Тех. обслуживание",
	list: [{
		name: 'Замена масла в двигателе'
	},
		{name: 'Замена масляного фильтра'},
		{name: 'Замена ремня грм'},
		{name: 'Замена ремня генератора'},
		{name: 'Замена воздушного фильтра'},
		{name: 'Замена салонного фильтра'},
		{name: 'Замена масла в МКПП'},
		{name: 'Замена масла АКПП'},
		{name: 'Замена масла в гидроусилителе руля'},
		{name: 'Замена масла в редукторе заднего моста'},
		{name: 'Замена сажевого фильтра'},
		{
			name: 'Подготовка к техническому осмотру'
		}]
})
