+to-list({
	title: "Ремонт авто",

	list: [{
		name: 'Ремонт подвески'
	},
		 {name: 'Ремонт двигателя'},
		{name: 'Ремонт тормозной системы'},
		{name: 'Проточка тормозных дисков'},
		{name: 'Ремонт и восстановление суппортов'},
		{name: 'Ремонт стартеров и генераторов'},
		{name: 'Ремонт кондиционеров'},
		{name: 'Ремонт КПП'},
		{name: 'Замена глушителей'},

		]
})



