+to-list({
	title: "Диагностика",

	list: [{
		name: 'Диагностика автомобиля перед покупкой'
	},
		{name: 'Компьютерная диагностика'},
		{name: 'Диагностика двигателя'},
		{name: 'Диагностика подвески'},

		]
})
