+to-list({
	title: "Шиномонтаж",
	list: [{
		name: 'Продажа шин (по приятным ценам)'
	},
		{name: 'Балансировка'},
		{name: 'Ремонт боковых порезов шин'},
		{name: 'Ремонт и замена вентилей'},
		{name: 'Ремонт камерных и бескамерных шин любой сложности'},
		{name: 'Устранение утечки воздуха'},
		]
})







