extends ../layout/base

block variables
	- var title='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var description='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var pageClass='add-services-page';

block content

	section.add-services
		.container
			+section-title('Дополнительные услуги')
			.add-services__descr В качестве дополнительных услуг СТО "ВИАмоторс" окажет помощь в следующем:
			.add-services__subtitle -организует эвакуацию и буксировку Вашего автомобиля на наше СТО.
			.add-services__text Одной из наиболее сложных и неприятных проблем, с которой сталкивается едва ли не каждый автовладелец, является внезапная поломка авто. Неприятно, когда это случилось утром, и вам нужно срочно ехать на работу, но куда хуже, если это произошло прямо на трассе. Мы организуем для Вас эвакуатор по выгодным ценам.
			.add-services__img
				.add-services__img-wrap
					img(src='./assets/img/add-serv-1.png')
			.add-services__subtitle -поможем в подборе запчастей как новых, так и поддержанных.
			.add-services__text Благодаря сотрудничеству как с крупными, так и с мелкими поставщиками запчастей, Вы легко вместе с нами найдете любую деталь для автомобилей всех брендов, марок и моделей. Мы предложим как бюджетные лицензионные запчасти, так и дорогие оригинальные. Данная услуга позволит Вам подобрать запчасти по тем ценам которые Вас устроят и позволит сэкономить Ваше драгоценное время
			.add-services__img
				.add-services__img-wrap
					img(src='./assets/img/add-serv-2.jpg')
			.add-services__subtitle -доставим Ваш автомобиль к дому.
			.add-services__text У Вас не хватает времени на работу, семью и другие важные дела, а тут еще автомобиль нужно гнать на СТО и затем его забирать после ремонта. Мы избавим Вас от этой суеты, сэкономим Ваше драгоценное время и сделаем это за Вас! Просто позвоните нам и мы поможем!
			.add-services__img
				.add-services__img-wrap
					img(src='./assets/img/add-serv-3.jpg')

