extends ../layout/base

block variables
	- var title='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var description='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var pageClass='index-page';

block content

	section.index-hero
		.container
			.index-hero__content
				.index-hero__desc

	section.services
		.container
			+section-title('В программе лагеря')
			.services-wrapper

	section.benefits
		.container
			+section-title('Отзывы')
			include ../../pug/includes/modules/review

	section.gallery
		.container
			+section-title('Галерея')
			.gallery
				include ../../pug/includes/modules/gallery

	section.auto
		.container
			+section-title("Заявка на участие")
			.auto-content
				.auto-wrapper
					.auto__img-wrap






