extends ../layout/base

block variables
	- var title='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var description='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var pageClass='payment-page';

block content

	section.payment
		.container
			+section-title('Рассрочка')
			.payment-descr <b>ВИАмоторс</b> предлагает своим клиентам возможность отремонтировать свой автомобиль в рассрочку через ОАО "Белагропромбанк" <b>со сроком от 6 до 12 месяцев.</b>
			.payment-img
				.payment-img__wrap
					img(src='/assets/img/belagro.png')
			.payment-text
				span.payment-text__title Описание процесса оформления рассрочки:
				p 1. Для оформления рассрочки от Белагропромбанка Вам необходимо получить счёт-фактуру от нас и справку о доходах с места работы. Если Вы получаете заработную плату в ОАО «Белагропромбанк» – справка о доходах не требуется.
				p 2. Для получения счет-фактуры Вам необходимо прислать на e-mail Info@viamotors.by или в Viber на номер телефона: #[a(href='tel:+375297718000') +375 (29) 77-18-000] следующие данные:
					ul
						li Наименование услуги, которую Вы хотите осуществить в рассрочку
						li ФИО
						li номер мобильного телефона для связи.
						li адрес (с индексом) для отправки Вам счет-фактуры
						li серия и номер паспорта
						li дата выдачи паспорта
						li наименование органа, выдавшего паспорт
					p Желательно присылать паспортные данные текстовым сообщением, но Вы также можете сделать фотографию паспорта или отсканировать нужные страницы.
				p 3. После подтверждения получения информации оператором ожидайте выставления счет-фактуры. Счет-фактура будет готова на следующий рабочий день после подтверждения заявки.
				p *Если Вы получаете зарплату на карту ОАО «Белагропромбанк», то Вам не требуется справка о доходах. После получения письма Вам нужно прийти в ближайшее отделение ОАО «Белагропромбанк» с оригиналом счета и своим паспортом для оформления рассрочки. Срок рассмотрения заявки на рассрочку банком – примерно 1 час.
				p *Если у Вас зарплатная карточка другого банка – для оформления «Рассрочки» Вам потребуется справка о доходах за 3 месяца. После этого Вы сможете оформить «Рассрочку» в отделениях ОАО «Белагропромбанк».
