extends ../layout/base

block variables
	- var title='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var description='Оказане услуг по ремонту автомобилей |ViaMotors| Беларусь';
	- var pageClass='sale-page';

block content
	.section.sale
		.container
			+section-title('Скидки и акции!!!')
			.sale-wrapper
				.sale-card
					.sale-card__descr
						|Бесплатная диагностика автомобиля при условии устранения неисправностей нашими мастерами.
					.sale-card__img
						.sale-card__img-wrap
							img(src='./assets/img/sale-1.jpeg')
				.sale-card
					.sale-card__descr
						| При ремонте автомобиля на нашем СТО мы предоставляем нашим клиентам скидку на запчасти в размере
						span -10%
					.sale-card__img
						.sale-card__img-wrap
							img(src='./assets/img/sale-2.jpg')
				.sale-card
					.sale-card__descr
						| Акция!!! Заказав через нас шины в сети Автосеть, шиномонтаж в подарок!

					.sale-card__img
						.sale-card__img-wrap
							img(src='./assets/img/og_main.jpg')
